[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
flask-cors = "*"

[packages]
jsonschema = "*"
jsonpath-rw = "*"
flask = "*"
arrow = "*"
pycountry = "*"

[requires]
python_version = "2.7"
