h1 {
    text-align: center;
}
.full-width {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.column {
    background: #e6e6e6;
    padding: 10px;
}
