* {
	border-sizing: border-box;
}
h1 {
	text-align: center;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.left-column, .mid-column, .right-column {
	background: #e6e6e6;
	padding: 10px;
}

pre {
	outline: 1px solid #ccc; 
	padding: 5px; 
	margin: 5px; 
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: black; }

pre[contenteditable=true] {
	background: #fff;
}