<!DOCTYPE html>
<html>
<head>
    <title>Schema Transformer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Schema Transformer</h1>
<div class="container" id="app">
    <div class="left-column" id="source">
        <pre v-html="displayable_input_json"></pre>
    </div>
    <div class="mid-column">
        <pre v-html="displayable_schema" 
        	 contenteditable="true"
        	 v-on:input="get_transformed_data"></pre>
    </div>
    <div class="right-column">
        <pre v-html="displayable_output_json"></pre>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash"></script>


<script>
	const print = console.log

    function isPlainObject(obj) {
        return obj ? typeof obj === 'object' && Object.getPrototypeOf(obj) === Object.prototype : false;
    }

    const supportType = ['string', 'number', 'array', 'object', 'boolean', 'integer'];

    function getType(type) {
        if (!type) type = 'string';
        if (supportType.indexOf(type) !== -1) {
            return type;
        }
        return typeof type;
    }

    function isSchema(object) {
        if (supportType.indexOf(object.type) !== -1) {
            return true;
        }
        return false;
    }

    function handleSchema(json, schema) {
        Object.assign(schema, json);
        
        if (schema.type === 'object') {
            delete schema.properties;
            parse(json.properties, schema);
        }
        if (schema.type === 'array') {
            delete schema.items;
            schema.items = {};
            parse(json.items, schema.items)
        }
    }

    function handleArray(arr, schema, key) {
        schema.type = 'array';
        var props = schema.items = {};
        schema.source = key + '[*]'
        parse(arr[0], props)
    }

    function handleObject(json, schema, key) {
        if (isSchema(json)) {
            return handleSchema(json, schema)
        }
        schema.type = 'object';
        schema.required = [];
        var props = schema.properties = {};
        for (var key in json) {
            var item = json[key];
            var curSchema = props[key] = {};
            if (key[0] === '*') {
                delete props[key];
                key = key.substr(1);
                schema.required.push(key);
                curSchema = props[key] = {};
            }
            curSchema.source = key
            parse(item, curSchema, key)
        }
    }

    function parse(json, schema, key) {
        if (Array.isArray(json)) {
            handleArray(json, schema, key)
        } else if (isPlainObject(json)) {
            handleObject(json, schema, key)
	        if (schema.required != undefined && schema.required.length == 0) {
	        	delete schema.required
	        }
        } else {
            schema.type = getType(json)
            schema.source = key
        }
    }

</script>

<script>
    function syntaxHighlight(json) {
        if (typeof json != 'string') {
            json = JSON.stringify(json, undefined, 2);
        }

        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

</script>

<script>
    data = {
        'input_json': '',
        'displayable_input_json': '',
        'schema': '',
        'displayable_schema': '',
        'output_json': '',
        'displayable_output_json': '',
        'transformation': '',
    }

    const app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: data,
        methods: {
        	get_transformed_data: _.debounce(function (event) {
        		data.schema = JSON.parse(event.target.innerText)

    			var xhr = new XMLHttpRequest();
				xhr.open("POST", '/transform/', true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.onreadystatechange = function() {
				    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
				        data.output_json = JSON.parse(this.response)
				        data.displayable_output_json = syntaxHighlight(data.output_json)
				    }
				}
				xhr.send(JSON.stringify({
					"input_json": data.input_json,
					"schema": data.schema
				}));

				data.displayable_schema = JSON.stringify(data.schema, undefined, 2)
            }, 1000)
        },
        watch: {
        	schema: function (val) {

        	}
        }
    });

    const input_json = JSON.parse('{{ input_json|safe }}')
    data.input_json = input_json
    data.displayable_input_json = syntaxHighlight(input_json)
    let schema = {}
    parse(input_json, schema)

    data.schema = schema
    data.displayable_schema = JSON.stringify(schema, undefined, 2)

</script>

</body>
</html>